@model datamgmt.domain.DataModels.Admin.USBException

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>UserAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
                        <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UPI" class="control-label"></label>
                <input asp-for="UPI" class="form-control" />
                <span asp-validation-for="UPI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abbott511" class="control-label"></label>
                <input asp-for="Abbott511" class="form-control" />
                <span asp-validation-for="Abbott511" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailID" class="control-label"></label>
                <input asp-for="EmailID" class="form-control" />
                <span asp-validation-for="EmailID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Organization" class="control-label"></label>
                <input asp-for="Organization" class="form-control" />
                <span asp-validation-for="Organization" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
                        <div class="form-group">
                <label asp-for="RequestedDate" class="control-label"></label>
                <input asp-for="RequestedDate" class="form-control" />
                <span asp-validation-for="RequestedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArcherException" class="control-label"></label>
                <input asp-for="ArcherException" class="form-control" />
                <span asp-validation-for="ArcherException" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddOrRemove" class="control-label"></label>
                <input asp-for="AddOrRemove" class="form-control" />
                <span asp-validation-for="AddOrRemove" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ReadWrite" class="control-label"></label>
                <input asp-for="ReadWrite" class="form-control" />
                <span asp-validation-for="ReadWrite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
